.container {
  max-width: 1280px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ways {
  cursor: pointer;
  text-align: center;
}

.ways h4 {
  font-size: 24px;
}

.ways p {
  color: #666666;
}

#phone {
  background: #01e281;
  width: 4em;
  height: 4em;
  padding: 14px;
  border-radius: 50%;
  color: #ffffff;
}

#git {
  background: #9932cc;
  width: 4em;
  height: 4em;
  padding: 14px;
  border-radius: 50%;
  color: #ffffff;
}

#telegram {
  background: #50abe4;
  width: 4em;
  height: 4em;
  padding: 14px;
  border-radius: 50%;
  color: #ffffff;
}

#email {
  background: #ff4500;
  width: 4em;
  height: 4em;
  padding: 14px;
  border-radius: 50%;
  color: #ffffff;
}

@media screen and (max-width: 761px) {
  .ways {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 443px) {
  .ways {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
}