.container {
  width: 100%;
  background: #ddd;
  padding: 37px;
  border-radius: 30px;
  margin: 40px 0;
}

.container h2 {
  border-bottom: 4px #4caf50 solid;
  margin-bottom: 30px;
  width: 56%;
}

ul li {
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .container h2 {
    width: 90%;
    margin: auto;
  }
}
