.container {
  max-width: 1280px;
  margin: 80px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.right_products {
  width: 65%;
}
.sidebar {
  width: 35%;
}

.sidebar_container {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 957px) {
  .right_products {
    width: 100%;
  }
  .sidebar {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 90%;
    margin: auto;
  }
}
